.message {
  margin-bottom: 15px;
  display: flex;
}

.user-message {
  justify-content: flex-end;
}

.bot-message {
  justify-content: flex-start;
}

.message-bubble {
  max-width: 80%;
  padding: 10px 15px;
  border-radius: 18px;
  word-wrap: break-word;
}
@media (max-width: 600px) {
  .message-bubble {
    max-width: 100%;
    font-size: 10px;
    padding: 8px 12px;
  }
}

.user-message .message-bubble {
  background-color: #007bff;
  color: white;
  border-bottom-right-radius: 2px;
}

.bot-message .message-bubble {
  background-color: #e9e9eb;
  color: #333;
  border-bottom-left-radius: 2px;
}

code {
  text-wrap: auto;
  background-color: #b7b9bb;
  margin: 0;
  padding: 2px;
  border-radius: 2px;
}

pre {
  background-color: #b7b9bb;
  border-radius: 5px;
}