body {
  font-family: sans-serif;
  margin: 0;
  background-color: #cdcaca;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.app-container {
  background-color: #a29393;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #eee;
}

.chat-window {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.loading {
    padding: 10px;
    font-style: italic;
    color: #666;
}